<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>default</key>
        <dict>
            <key>BaseURL</key>
            <string>mmx://prod-mmx-001.magnet.com:5222</string>
            <key>DomainName</key>
            <string>prod-mmx-001</string>
            <key>AppId</key>
            <string>ce6iebq3w8s</string>
            <key>ApiKey</key>
            <string>6e913add-3219-4863-acf8-3d92c44df7a3</string>
            <key>AnonymousSecret</key>
            <string>81db31ad-6f68-460e-980e-b4ab7e4c769e</string>
            <key>ShouldForceTLS</key>
            <true/>
            <key>PublicAPIPort</key>
            <integer>5221</integer>
            <key>AllowInvalidCertificates</key>
            <false/>
        </dict>
    </dict>
</plist>
